.git
access.log
error.log
nbproject
BKP
/node_modules
/storage
/public/storage
/vendor
.idea
Homestead.json
Homestead.yaml
.env
/storage/debugbar
/storage/exports


# Uploads Directory
/public/uploads/*
!/public/uploads/.gitkeep

!/public/uploads/*/
/public/uploads/*/*
!/public/uploads/*/.gitkeep

!/public/uploads/*/*/
/public/uploads/*/*/*

!/public/uploads/*/*/.gitkeep
vendor/*.*


