.git
access.log
error.log
/node_modules
/storage
/public/storage/*.*
/vendor
.idea
.vscode
Homestead.json
Homestead.yaml
.env
/storage/debugbar
/storage/exports

# Uploads Directory
/public/uploads/*
!/public/uploads/.gitkeep

!/public/uploads/*/
/public/uploads/*/*
!/public/uploads/*/.gitkeep

!/public/uploads/*/*/
/public/uploads/*/*/*

!/public/uploads/*/*/.gitkeep


/config/database.php